<div class="bgimg">
    <div class="topleft">
    </div>
    <div class="middle">
      <h1 style="color: black;">Sagar Fale Task </h1>
      <hr />
      <p style="color: black;">
        Online Ecommerce Site Task (Ulis Tech)<br>
       <span style="font-weight: bold;color: black;"> Task Details</span> 
        <br>
        1.Create Product list page with pagination and free text search<br>
        2. On click product open product detail page<br>
        3.In the detail page give option to add product to the cart.
         <br /><a href="#" routerLink="product">Click Here For Demo</a
        >
      </p>
    </div>
    <div class="bottomleft">
      <p>BEST EXCLUSIVE BRANDS</p>
    </div>
  </div>
  
